li {

border: 1px solid #bcbfcd ;
margin: 5%;
height: 50px;
list-style-type: none;
background-color: #f4f6f6;
border-radius: 10px;


img {
  width: 50px;
  float: left;


}


p {
  text-align: center;
  display:inline;
  margin-left: 70px;
  font-size: 1.3em;
  line-height: 50px;
  color: #bcbfcd;
}





}
