li {

border: 1px solid #060606;
margin: 5%;
height: 50px;
list-style-type: none;
background-color: #E2EAEC;
border-radius: 10px;


img {
  width: 50px;
  text-align: left;


}


p {
  text-align: center;
  display:inline;
}





}
